.NewColor form{
    border: 2px solid black;
    box-sizing: border-box;
    padding: 25px;
    width: 400px;
    border-radius: 20px;
}

form{
    margin: 100px auto
}

.NewColor form div{
    margin:20px;
    text-align: left;
}

label{
    font-size: 20px;
}
button{
    font-size: 20px;
}

